/** start of header **/
html,body{
    font-family: 'Lato',sans-serif;
    background-color: #e9ebee;
    color: #34495e ;
    margin: 0%;
    position: relative;
}
.header{
    position:fixed;
    z-index: 1;
    width: 100%;
    height: 90px;
    background-color:#34495e;
    box-shadow: 0px 3px 18px 0px rgba(0,0,0,0.3) !important;
    
}
.header img {
    
    width: 100px;
    padding-left: 5px;
    height: 90px;
    float: left;
  }
  
  .header h1 {
    position: relative;
    margin-left: 10px;
    font-family:  'Source Code Pro', monospace !important;
    color: white;
    float: left;
  }
  
.avatar{
    text-decoration: none;
    float: right;
    border: none;
    width:50px !important;
    height:50px !important;
    padding: 5px 5px;
    margin-right: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
  }
.user_name{
    text-decoration: none;
    float: right;
    border: none;
    
    padding: 5px 5px;
    margin-right: 5px;
    
    top:10px;
    color: #fff;
    font-size: 15px;
   
}
.logout{
   text-decoration: none;
    float: right;
    border: none;
    width:40px !important;
    height:40px !important;
    padding: 5px 5px;
    margin-right: 5px;
    
    top:10px;
    
    font-size: 15px; 
}
  .nav-btn {
    float: right;
    /**margin-top: 18px !important;**/
  }
  .content{
    height:100%;
    position: relative;
    top:90px;  
}
/**end of header**/
/**Side nav**/
.side_nav{
    background-color: #9cb3c9;
	height: 100%;
	width:180px;
	position: fixed;
	z-index: 1;
	left: 0;
	overflow-x: none;
	box-shadow: 1px 1px 3px grey;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);

}
.attendant-dashcontent{
    margin-left: 190px;
   
}
.side_nav ul{
    display:block;
    padding-left: 0px;
    height: 100% !important;
   

}
.side_nav ul li{
    height:30px;
    list-style: none;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
 
    color:#34495e !important;
    text-decoration: none !important;
   
    
   

}


.dash_list{
    text-decoration: none !important;
    color:#34495e;
    cursor: pointer;
    transition: 0.3s;
}
.dash_list.active{
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
    color:#e6ecf0 !important;
    background-color: #34495e;   
    text-decoration: none !important;
    

}
.dash_list:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
    color:#e6ecf0 !important;
    background-color: #34495e;   
    text-decoration: none !important;
}

  .a_list{
      text-decoration: none !important;
  }
/**end of side nav**/
/*columns*/
.col-2, .col-4, .col-6, .col-8, .col-10, .col-12 {
    /* height: 100%; */
    height: auto;
    float: left;    
    /* padding-left: 10px;
    padding-right: 10px; */
    position: relative;

}

.cart{
/* background-color: #fff; */
float:left;
margin-right: 3px;
width: 44%;
padding: 8px;

height:100%;
box-sizing: border-box;
}
.product-display{
box-sizing: border-box;
background-color: #fff;
border-radius: 10px;
height:100%;
float:right;
padding:20px;
/* margin-left: 10px; */
width:55%;
}
#product-search-div{
    margin-bottom: 20px;
}
.product-filter{
    margin-bottom:
    15px;
    /* float:left; */
    /* height:50px; */
    width:45%;
    display: inline-block;
}
.category-search{
    
    /* width:60%; */
    float:right;
    margin-bottom:
    15px;

}
.product-row{
    display: block;
    widows: 100%;
    height:150px;
    margin-bottom: 15px;
}
.product-column{
    width:30%;
    border-radius: 10px;
    box-sizing: border-box;
    height:152px;
    /* padding:5px; */
    margin-right:8px;
    display: inline-block;
    border:1px solid #ddd;
    /* background-color: #34495e; */
}
.product-column:hover,.product-column:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
}
.product-image{
    height:75%;
   padding: 4px;
   box-sizing: border-box;
}
.img-image{
    text-align: center;
    height:100%;
    width:100%;
}


.product-caption{
display:block;
padding: 5px;
height: 29%;
box-sizing: border-box;
font-size: 14px;
background-color:#e9ebee !important;
}
.cross-item{
    width:30px;
    height:30px;
}
.product-name-item{
    display:inline-block;
}
.cart-info{
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
    height:300px;
    overflow-y: scroll;
}

.cart-item{
    display:block;
    height:60px;
    /* border: 1px solid #34495e !important; */
    padding: 5px;
    box-sizing: border-box;
}
.cart-item td,th{
    /* border: 1px solid #34495e !important; */
    width:85px;
}
.cart-item-item{
    /* display:inline-block; */
    height:38px; 
    /* */ 
    padding:8px;
    margin-right: 3px;
    /* box-sizing: border-box; */
    /* margin: 0 auto; */
    /* box-sizing: border-box; */
    
}
.cart-header{
    padding:10px;
    margin-right: 5px;
}
.product-quantity{
    display: inline-block;
}
.search-cart{
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    height: 40px;
    padding: 10px;
    text-align: center;
}
.tr_cart{
    padding: 5px;
    margin-left: 100px;
}
.signs{
    height:27px;
    width:27px;
    padding:3px;
    box-sizing: border-box;
    background-color:#cccccc;
    border:1px solid #f7f7f7;
    border-radius: 5px;
    
}
.sign-image{
    width:23px;
    height:23px;
    float:none;
    display: block;
    margin:0 auto !important;
}
.product-price{
    display: inline-block;
}
.quantity-item{
    display: inline-block;
    /* margin: 0 auto; */
  
}
.quantity-value{
    
    padding:3px;
    box-sizing: border-box;
    text-align: center;
    border:1px solid #cccccc;
    width:27px;
    height:27px;
    border-radius: 5px;
}
.p-quantity-value{
    
    float:none;
    display: block;
    margin:0 auto !important;
}
.col-2 {
    width: 15.33333333% !important;
}

.col-4 {
    width: 33.33333333% !important;
}

.col-6 {
    width: 50% !important;
}

.col-8 {
    width: 66.66666667% !important;
}

.col-10 {
    width: 84% !important;
}

.col-12 {
    width: 100% !important;
}
.cancel{
    background-color:#F44336;
}
.checkout{
    background-color:#4CAF50;
}
.cart-buttons{
    cursor: pointer;
    font-weight: 500;
    border-width: 0;
    padding: 9px 17px;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    white-space: nowrap;
    line-height: 1.6384616;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: all ease-in-out .15s;
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}
.cart-buttons:hover,.cart-buttons:focus{
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
}
.cart-totals{
    margin-bottom: 10px;
    
}
.td-cart-totals{
   width:180px;
   height:60px;
   padding: 20px;
font-weight: 700;
border:1px solid #ddd;
box-sizing: border-box;
background-color: #fff;
}
.cart-total-hd{
    width:140px !important;
}
.cart-total-data{
    float:right !important;
}
.add-to-cart-instructions{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
}
.image-text{
    float: left !important;
    /* display: block !important; */

    /* background-color:#e9ebee; */
    /* text-align: center; */

}
.image-price{
    float:left !important;
    /* display: block !important; */
    /* text-align: center; */
}
.product-caption-left{
    float:left;
    font-weight: bold;
    font-size:14px;
}

.add-cart-btn{
    float:right;
    width:36px;
    height:36px;
    transition: transform .2s;
    text-align: center !important;
    color: #fff !important;
    box-sizing: border-box !important;

}
.add-cart-btn:hover,.add-cart-btn:focus{
    transform: scale(1.5);
}
.add-product-input{
    display: block;
    background-color: #fff;
    border: 2px solid #e0e6e8;
    border-radius: 3px;
    height: 40px;
    line-height: normal;
    margin: 0;
    margin-bottom: 4px;
    padding: 0;
        padding-left: 4px;
    padding-left: 16px;
    transition: border .15s;
    width: 90%;
}

.searchinput{
    display: inline-block !important;
    width:45%;
}
.attendant-cat-filter{
width:20% !important;
display: inline-block !important;
display: block;
background-color: #fff;
border: 2px solid #e0e6e8;
border-radius: 3px;
height: 40px;
line-height: normal;
margin: 0;
margin-bottom: 4px;
padding: 0;
    padding-left: 4px;
padding-left: 16px;
transition: border .15s;
}
.item-quantity{
    width:42px;
    height:35px;
    padding:3px;
    box-sizing: border-box;
    background-color:#cccccc;
    border:1px solid #f7f7f7;
    border-radius: 5px;

}
#attendant-cart-table{
    border-collapse: collapse;
    width: 100%;
}
td,th {
   
    text-align: left;
    
}

.cat-filter{
width:28% !important;
display: inline-block !important;
}
/* from admin */

/**admin-products page**/
.the_top_div{
    width: 100%;
    display: block;
    height:120px;
    background-color: #fff;
    margin-bottom: 20px;
    padding:20px;
    box-sizing: border-box;
    
}

.view-product-content{
    padding:20px;
    box-sizing: border-box;
    height:300px;
}
.image-holder{
    float:right;
    
    margin-right:20px;
}
#view-product-details{
    display:none;
    position: fixed;/* Stay in place*/
    z-index: 1; /*Sit on top */
    margin: 0 auto !important;

    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow-x: hidden;
    overflow-y: auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
   
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#view-myproduct-details{
    display:none;
    position: fixed;/* Stay in place*/
    z-index: 1; /*Sit on top */
    margin: 0 auto !important;

    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow-x: hidden;
    overflow-y: auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
   
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.product-details-left{
    float:left;
    width:50%;
}

.the_bottom_div{
    width: 100%;
    height:auto;
    /* background-color:#fff; */
}
td, th {
    /* border: 1px solid #e9ebee; */
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
}

.actions_header{
    width: 240px !important;
}


.tr_a {
    background-color: #fff;
    
}
 
.action_item{
    border:1px solid #ddd;
    padding:10px;
    border-radius: 5px;
    color:#fff !important;
    background-color: #34495e!important;
    display: inline-block !important;
    
}
.action_item:hover,.action_item:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
}
.view_product_btn{
    border:1px solid #ddd;
    padding:10px;
    border-radius: 5px;
    color:#fff !important;
    background-color: #34495e!important;
    display: inline-block !important;
    
}
.view_product_btn:hover,.view_product_btn:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
}

.product-search{
    float:left;
    width:70%;
    }

.action_div{

    padding:10px; 
    background-color: #fff !important;
   display: block !important;

    border-collapse: collapse;
    /* padding: 10px; */
    border-radius: 4px;
    /* border: 1px solid #ddd; */
    
}
.attendant-searchinput{
    width:40% !important;
    display: inline-block;
}
.table_categories tr td{
    width:40%;
    padding-left:20px;
    box-sizing: border-box;
}

.profilepic{
	height: 300px;
	width: 300px;
	border-radius: 50%;
	box-shadow: 1px 1px 3px grey;
}
.profilepic:hover,.profilepic:focus{
	opacity: 0.8;
}
.myprofilediv{
    border-right: 1px solid #333;
	box-shadow: 1px 1px 3px grey;
    text-align: center;
    width:40%;
    float:left;
    height:500px;
	font-family: Josefin Sans;
}
.attendant-stats{
    float:right;
    width:58%;
}
.dash_row{
    width:100%;
    display: block;
    
}
.t_attendant_data{
    display: inline-block;
    background-color: #fff;
    border: 1px solid transparent;
    width:28%;
    height: 100px;
    margin: 5px;
    border-radius: 5px;
    margin-bottom: 15px !important;
    border-width: 0;
    color: #333;
    padding: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}

.t_data_left{
    float:left;
    color: #333 !important;
    text-align: left;
    padding:10px;
    font-style: none !important;
    font-weight: 50px !important;
}
.t_data_right{
    float:right;
    width: 37%;
    height:100px;
    border-radius: 5px;
    
}
.t_sales_image{
background-color: #489ee7;
text-align: center;
}
.t_product_image{
    background-color: #9cb3c9;
    text-align: center;
    }

    .t_income_image{
        background-color:#4CAF50;;
        text-align: center;
        }

    .t_img{
        margin-top:15px;
        }
    .sales_value{
            color:#489ee7 !important;
        }
    .products_value{
            color:#9cb3c9 !important;
        }
        .income_value{
            color:#4CAF50 !important;
        }
    .attendant-sales-report{
        width:56%;
        float: right;
        padding: 10px;
    }
    
    .attendant-report-row{
        height:50px !important;
    }
    .salessearchinput{
        width:40%;
        display: inline-block !important;
    }
    .filter{
        width:28% !important;
        display: inline-block !important;
        }
/* admin css */
/** start of header **/

.header{
    position:fixed;
    z-index: 1;
    width: 100%;
    height: 90px;
    background-color:#34495e;
    box-shadow: 0px 3px 18px 0px rgba(0,0,0,0.3) !important;
    
}
.header img {
    
    width: 100px;
    padding-left: 5px;
    height: 90px;
    float: left;
  }
  
  .header h1 {
    position: relative;
    margin-left: 10px;
    font-family:  'Source Code Pro', monospace !important;
    color: white;
    float: left;
  }
  
.avatar{
    text-decoration: none;
    float: right;
    border: none;
    width:50px !important;
    height:50px !important;
    padding: 5px 5px;
    margin-right: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
  }
.user_name{
    text-decoration: none;
    float: right;
    border: none;
    
    padding: 5px 5px;
    margin-right: 5px;
    
    top:10px;
    color: #fff;
    font-size: 15px;
   
}
.logout{
   text-decoration: none;
    float: right;
    border: none;
    width:40px !important;
    height:40px !important;
    padding: 5px 5px;
    margin-right: 5px;
    
    top:10px;
    
    font-size: 15px; 
}
  .nav-btn {
    float: right;
    /**margin-top: 18px !important;**/
  }
  .content{
    height:100%;
    position: relative;
    top:90px;  
}
/**end of header**/
/**Side nav**/
.side_nav{
    background-color: #9cb3c9;
	height: 100%;
	width:180px;
	position: fixed;
	z-index: 1;
	left: 0;
	overflow-x: none;
	box-shadow: 1px 1px 3px grey;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);

}
.dash-content{
    margin-left: 190px;
   
}
.side_nav ul{
    display:block;
    padding-left: 0px;
    height: 100% !important;
   

}
.side_nav ul li{
    height:30px;
    list-style: none;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
 
    color:#34495e !important;
    text-decoration: none !important;
   
    
   

}


.dash_list{
    text-decoration: none !important;
    color:#34495e;
    cursor: pointer;
    transition: 0.3s;
}
.dash_list.active{
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
    color:#e6ecf0 !important;
    background-color: #34495e;   
    text-decoration: none !important;
    

}
.dash_list:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
    color:#e6ecf0 !important;
    background-color: #34495e;   
    text-decoration: none !important;
}

  .a_list{
      text-decoration: none !important;
  }
/**end of side nav**/
/**Admin dashboard**/
.dash_row{
    width:100%;
    display: block;
    
}
.t_data{
    display: inline-block;
    background-color: #fff;
    border: 1px solid transparent;
    width:22.5%;
    height: 100px;
    margin: 5px;
    border-radius: 5px;
    margin-bottom: 15px !important;
    border-width: 0;
    color: #333;
    padding: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}

.t_data_left{
    float:left;
    color: #333 !important;
    text-align: left;
    padding:10px;
    font-style: none !important;
    font-weight: 50px !important;
}
.t_data_right{
    float:right;
    width: 37%;
    height:100px;
    border-radius: 5px;
    
}
.t_sales_image{
background-color: #489ee7;
text-align: center;
}
.t_product_image{
background-color: #9cb3c9;
text-align: center;
}
.t_categories_image{
background-color: #34495e;
text-align: center;
}
.t_income_image{

background-color:#4CAF50;

text-align: center;
}
.t_img{
margin-top:15px;
}
.sales_value{
    color:#489ee7 !important;
}
.products_value{
    color:#9cb3c9 !important;
}
.categories_value{
    color:#34495e !important;
}
.income_value{
    color:#4CAF50 !important;
}
.p_task{
    font-size: 20px !important;
    text-align: center;
    
}
.admin_table
{
    width: 100%;
    margin: 5px;
    border-spacing: 5px;
    
    
}
.admin_table_left{
    
    float:left;
    width:48%;
    border-radius: 5px;
    margin-right: 10px !important;
}
.admin_table_right{
    float:right;
    
    width:48%;
     margin-right: 10px !important;

}

.a_task{

    
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);

    margin: 5px !important;
    border-radius:5px;
    color: #333;
   
    
    
}
 
.a_task:active, .a_task:focus ,.a_task:hover{
    border-left: 5px solid #34495e;
    box-shadow:0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) ;
    
}
.t_icon{
    float:left;

    text-align: center;
    width:20%;
   
}

.t_task{
    
    width:40%;
    color:#333 !important;
    
    
   
   
}
.p{
    text-align: center;
     
}

.black_img{
    width:50px;
    height:50px;
    padding:10px;
    border-right: 2px solid #e9ebee;
}
/*columns*/
.col-2, .col-4, .col-6, .col-8, .col-10, .col-12 {
    /* height: 100%; */
    height: auto;
    float: left;    
    /* padding-left: 10px;
    padding-right: 10px; */
    position: relative;

}
.col-2 {
    width: 15.33333333% !important;
}

.col-4 {
    width: 33.33333333% !important;
}

.col-6 {
    width: 50% !important;
}

.col-8 {
    width: 66.66666667% !important;
}

.col-10 {
    width: 84% !important;
}

.col-12 {
    width: 100% !important;
}
/**admin-products page**/
.the_top_div{
    width: 100%;
    display: block;
    height:120px;
    background-color: #fff;
    margin-bottom: 20px;
    padding:20px;
    box-sizing: border-box;
    
}
.the_bottom_div{
    width: 100%;
    height:auto;
    /* background-color:#fff; */
}
td, th {
    /* border: 1px solid #e9ebee; */
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
}

.tr_a {
    background-color: #fff;
    
}
 tr{
    width: 100%;
    height:50px;
    border-collapse: collapse;
  
}
table{
    border-collapse: collapse;

    
}

.actions_header{
    width: 240px !important;
}
    
    



.product-search{
float:left;
width:70%;
}

.add-product{
float:right;
}
.action_div{
    padding:10px;
    background-color: #fff !important;

   display: block !important;
    border-collapse: collapse;
    /* padding: 10px; */
    border-radius: 4px;
    /* border: 1px solid #ddd; */
    
}

.addproductform{
    display:none;
    position: fixed;/* Stay in place*/
    z-index: 1; /*Sit on top */
    margin: 0 auto !important;

    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow-x: hidden;
    overflow-y: auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
   
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.addproduct-content{
    /* margin: 0 auto; */
    margin: 0 auto !important;
    width:50%;
    /* overflow: hidden;Enable scroll if needed */
    border-radius: 10px;
    background-color: #fff;
    box-sizing: border-box;
    


}

.productform{
    margin: 0 auto;
    margin-bottom: 15px;
    /* width:100%;  */
}
.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 10px;
}
.add-product-title{
    float: left;
    font-size: 18px;
    
}
.close:hover,
.close:focus {
    color: #ddd;
    text-decoration: none;
    cursor: pointer;
}
.add-product-header{
background-color: #34495e;
padding: 10px;
color:#fff !important;
height:70px;

}
.add-form-content{
    padding: 20px;
    
    overflow:auto;
}

.add-product-input:active, .add-product-input:focus {
    border-color: #2196F3;
    outline: 0;
}
#add-product-description{
    height:70px !important;
}

.btn-save{
    background-color: #34495e;
    color: #fff !important;
}
.searchinput{
    display: inline-block !important;
    width:45%;
}
.salessearchinput{
    width:40%;
    display: inline-block !important;
}
.filter{
width:28% !important;
display: inline-block !important;
}
.add-action-btn{
    
    background-color: #34495e;
    float:right;
    color: #fff;
    margin-right: 20px;
}
.table_categories tr td{
    width:40%;
    padding-left:20px;
    box-sizing: border-box;
}
.profile-avatar{
    width:50px;
    height:50px;
}
.upload-photo{
   display: block !important; 
}

/* buttons */
.btn {
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    border-width: 0;
    padding: 9px 17px;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    font-size: 13px;
    white-space: nowrap;
    line-height: 1.5384616;
    border-radius: 3px;
    border: 1px solid transparent;
    background-image: none;
    transition: all ease-in-out .15s;
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}
.btn-login{
    background-color: #34495e;
    color:#e6ecf0;
    box-shadow: 2px 4px 10px 2px rgba(0,0,0,0.24) !important; 
    border:1px solid #ddd;
    font-weight: bold !important;
    font-size: 18px !important;
    
}
.btn.focus, .btn:focus, .btn:hover {
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
}

/* card */
.card {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-bottom: 20px;
    border-width: 0;
    color: #333;
    padding: 20px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}
.login_card{
    background-color: #34495e !important;
    /*color: #34495e !important;*/
    margin-left: 25% !important;
    margin-right: 25%  !important;
    padding: 40px ;
    height: 440px !important;
    border-radius: 5px;
    margin-top:20px !important;
   /* box-shadow: 0px 3px 18px 0px rgba(0,0,0,0.3) !important;*/
   box-shadow: 2px 4px 10px 2px rgba(0,0,0,0.3) !important;
}
.content_login_card{
    color:#e6ecf0 !important;
    background-color: #34495e !important;
    height: 400px !important;
    
    
}
.login_logo{
float:none !important;
text-align: center !important;
display: inline-block !important;
}




/* form elements */
.input {
    background-color: #fff;
    border: 2px solid #e0e6e8;
    border-radius: 6px;
    height: 40px;
    line-height: normal;
    margin:0px;
    margin-bottom: 0px;
    padding: 0;
    padding-right: 0px;
    padding-left: 16px;
    transition: border .15s;
    width: 95%;
}
 
.input:active, .input:focus {
    border-color: #2196F3;
    outline: 0;
}
  
.input-group {
    margin-bottom: 24px;
}
  
label {
    display: block;
    /* color: #e6ecf0 ; */
    margin-bottom: 8px;
    touch-action: manipulation;

}

